[submodule "fonts/stix2"]
	path = fonts/stix2
	url = https://github.com/stipub/stixfonts.git
[submodule "tex-beamer/original"]
	path = tex-beamer/original
	url = https://github.com/benjamin-weiss/hsrmbeamertheme.git
[submodule "fonts/barlow"]
	path = fonts/barlow
	url = https://github.com/jpt/barlow.git
